apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  namespace: delivery-platform
type: Opaque
stringData:
  
  POSTGRES_PASSWORD: ""

 
  SECRET_KEY: ""

  
  GOOGLE_API_KEY: ""
  
  
  DATABASE_URL: ""
  