# git files
.git
.gitignore

# virtual environment
.venv/
venv/
**/.venv/
**/venv/
backend/.venv/

# iDE and cache files
.idea/
__pycache__/
**/__pycache__
*.pyc
.pytest_cache/

# local environment files
.env
.env.local
.env.docker
*.env