
# Database
POSTGRES_HOSTNAME=<your-postgres-hostname>
POSTGRES_PORT=<your-postgres-port>
POSTGRES_DB=<your-postgres-db>
POSTGRES_USERNAME=<your-postgres-username>
POSTGRES_PASSWORD=<your-password>
POSTGRES_USER=<your-postgres-user>
DATABASE_URL=<your-database-url>

# Kafka & Schema Registry
KAFKA_BOOTSTRAP_SERVERS=<your-kafka-bootstrap-servers> #port 9092
SCHEMA_REGISTRY_URL=<your-schema-registry-url> #port 8081
KAFKA_TOPIC_CALCULATE_ROUTE=<your-kafka-topic-calculate-route> 
KAFKA_CONSUMER_GROUP=<your-kafka-consumer-group>
CLUSTER_ID=<your-cluster-id>

# JWT
SECRET_KEY=<your-secret-key>
ALGORITHM=<your-algorithm>
ACCESS_TOKEN_EXPIRE_MINUTES=<the-access-token-expire-minutes>

# Google Maps
GOOGLE_API_KEY=<your-google-api-key>
