#cache
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

#virtual environment
.venv/
env/
venv/

#ides
.vscode/
.idea/

#os files
.DS_Store
Thumbs.db

#env files
.env

#alembic
alembic/versions/*.pyc
alembic/versions/__pycache__/

#SQLite
*.sqlite3

#pytest
.cache/
pytest_cache/


#logs
*.log
logs/
