#Database connection
POSTGRES_HOSTNAME=postgres-service
POSTGRES_PORT=5432
POSTGRES_DB=delivery_db
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_USER=postgres
DATABASE_URL=postgresql://postgres:change_me@postgres-service:5432/delivery_db

# Kafka & Schema Registry
SCHEMA_REGISTRY_URL=http://fast-data-dev:8081
KAFKA_BOOTSTRAP_SERVERS=fast-data-dev:9092
KAFKA_TOPIC_REQUESTS=delivery_requests
KAFKA_TOPIC_RESULT=delivery_results


# JWT
SECRET_KEY=change_this_to_a_secure_random_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# External APIs
GOOGLE_API_KEY=your_google_api_key_here