# This file is for running pytest locally against the test containers

#Test Database Connection (for pytest on host)
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=the_test_password
POSTGRES_HOSTNAME=test-db
POSTGRES_PORT=5433
POSTGRES_DB=the_delivery_db_test
SECRET_KEY=test_secret_key