
# Database
POSTGRES_HOSTNAME=<your-postgres-hostname>
POSTGRES_PORT=<your-postgres-port>
POSTGRES_DB=<your-postgres-db>
POSTGRES_USERNAME=<your-postgres-username>
POSTGRES_PASSWORD=<your-password>
POSTGRES_USER=<your-postgres-user>
DATABASE_URL=<your-database-url>

# Kafka & Schema Registry
KAFKA_BOOTSTRAP_SERVERS=<your-kafka-bootstrap-servers> #port 9092
SCHEMA_REGISTRY_URL=<your-schema-registry-url> #port 8081
CLUSTER_ID=<your-cluster-id>
KAFKA_TOPIC_REQUESTS = <your-kafka-topic-requests>
KAFKA_TOPIC_RESULT=<your-kafka-topic-result>


# JWT
SECRET_KEY=<your-secret-key> #commend:  python -c "import secrets; print(secrets.token_hex(32))"
ALGORITHM=<your-algorithm>
ACCESS_TOKEN_EXPIRE_MINUTES=<the-access-token-expire-minutes>


# Google Maps
GOOGLE_API_KEY=<your-google-api-key>
