apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
  namespace: delivery-platform
type: Opaque
data:
  # run: echo -n 'your_postgres_password' | base64
  POSTGRES_PASSWORD: ""

  # run: echo -n 'your_jwt_secret_key' | base64
  SECRET_KEY: ""

  # run: echo -n 'your_google_api_key' | base64
  GOOGLE_API_KEY: ""